.Leaderboards {
  padding-top: 16px;
  box-sizing: border-box;
  height: calc(100% - 164px);
}

@media screen and (max-width: 900px) {
  .Leaderboards {
    padding-bottom: 34px;
  }
}

.Leaderboards__underConstruction {
  text-align: center;
  font-family: $font-copy;
  top: 50%;
  height: 100px;
  margin-top: -50px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
}

.underConstruction__header {
  margin: 0px;
  padding-bottom: 25px;
  color: $grey;
}

.underConstruction__cta {
  display: inline-block;
}
