@mixin animatable-hide {
  position: fixed;
  left: -100%;
}

.GSCLeaderMap {
  background-color: #dddddd;
}

.GSCLeaderMap__overlay {
  cursor: pointer;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: rgba(#3f434a, 0.3);
  transition: background-color 0.5s ease;
  /* IE sucks */
  z-index: 1010;

  &:after {
    content: 'Tap to pan and zoom';
    text-align: center;
    padding: 1em;
    background-color: rgba(#3f434a, 0.7);
    border-radius: $border-radius;
    display: block;
    @extend %general-reset;
    font-size: 24px;
    line-height: 1.25em;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
}

@media screen and (min-width: 900px) {
  .GSCLeaderMap__overlay {
    background-color: rgba(#3f434a, 0.1);

    &:after {
      content: 'Click to pan and zoom';
      display: none;
    }
  }
  .GSCLeaderMap__overlay:hover {
    background-color: rgba(#3f434a, 0.3);
    &:after { display: block }
  }
}

.GSCLeaderMap__overlay--closed {
  @include animatable-hide;
}

.GSCLeaderMap__close-overlay {
  font-size: 11px;
  height: 3em;
  width: 3em;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 2;
  appearance: none;
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  margin: 0;
  box-sizing: content-box;
  color: $grey;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);

  i {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}

.GSCLeaderMap__highlight-legend {
  background-color: white;
  border-radius: $border-radius;
  font-size: 11px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1em;
  z-index: 2;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  padding: 0.5em;
  padding-left: 1.8em;
  line-height: 1.5em;
}

.GSCLeaderMap__highlight-icon {
  display: block;
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: $alert;
}

.GSCLeaderMap__close-overlay--hidden {
  @include animatable-hide;
}

.GSCLeaderMap--overlay-open .leaflet-control-container {
  display: none;
}
