@mixin animatable-hide {
  position: fixed;
  left: -100%;
  right: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.GSCLeaderMap__overlay {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
}

.GSCLeaderMap__overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.GSCLeaderMap__overlay--closed {
  @include animatable-hide;
}

.GSCLeaderMap__close-overlay {
  font-size: 14px;
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 2;
  appearance: none;
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  margin: 0;
  box-sizing: content-box;
  color: $grey;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);

  i {
    position: absolute;
    top: 50%;
    top: left;
    transform: translate(-50%, -50%)
  }
}

.GSCLeaderMap__close-overlay--hidden {
  @include animatable-hide;
}

.GSCLeaderMap--overlay-open .leaflet-control-container {
  display: none;
}
