.tracker {
  position: relative;
  height: 800px;
  height: 80vh;

  * {
    box-sizing: border-box;
  }
}

.mapWrap {
  position: absolute;
  left: 0;
  right: 580px;
  top: 0;
  bottom: 0;
  background-color: #dddddd;
}

.panelWrap {
  width: 580px;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  background-color: #CDD2D4;
}

@media screen and (max-width: 900px) {
  .mapWrap,
  .panelWrap {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: initial;
  }
  .mapWrap {
    height: 40vh;
  }
  .mapWrap--active {
    height: 60vh;
  }
  .panelWrap {
    height: auto;
  }
  .tracker {
    height: auto;
  }
}

.panel {
  background-color: #3f434a;
  box-sizing: border-box;
  height: 100%;
  padding: 24px;
}

.panel_header {
  font-family: $font-copy;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}

.tracker__select {
  margin-bottom: 10px;
  float: left;
  width: 100%;
}

.loadingIndicator {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
  background-image: url('../images/loading-wheel.svg');
  animation:spin 2s linear infinite;
}

@keyframes spin {
  100% { transform:rotate(360deg); }
}

/* move to hui */
.hui-Tabs {
  height: 100%;
}

.hui-LeaderboardRow__charityName {
  margin: 0;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hui-Leaderboard {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hui-Tabs_content {
  height: 100%;
  min-height: 200px;
  box-sizing: border-box;
  position: relative;
}

.hui-LeaderboardRow__charityName {
  font-size: 11px;
}

.hui-Pagination__pager {
  color: #B3B3B3;
  border-color: #B3B3B3;
}

.hui-Pagination__pager--disabled, .hui-Pagination__pager--disabled:hover {
  border-color: #585858;
  color: #585858;
}

.hui-LeaderboardRow__rank {
  width: 72px;
}

.hui-LeaderboardRow__value {
  font-size: 16px;
}

/* I know what you're thinking */
.hui-LeaderboardRow__ctas .hui-Button:nth-child(2) {
  display: none;
}
