.tracker {
  position: relative;
  height: 800px;
}

.mapWrap {
  position: absolute;
  left: 0;
  right: 580px;
  top: 0;
  bottom: 0;
}

.panelWrap {
  width: 580px;
  right: 0;
  top: 0;
  bottom: 0;
  height: 800px;
  box-sizing: border-box;
  position: absolute;
  background-color: #CDD2D4;
}

@media screen and (max-width: 900px) {
  .mapWrap,
  .panelWrap {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: initial;
  }
  .mapWrap {
    height: 500px;
  }
  .panelWrap {
    height: auto;
  }
  .tracker {
    height: auto;
  }
}

.panel {
  background-color: #3f434a;
  box-sizing: border-box;
  height: 100%;
  padding: 24px;
}

.panel_header {
  font-family: $font-copy;
  text-align: center;
  margin: 0px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}

/* move to hui */
.hui-Tabs {
  height: 100%;
}

.hui-Leaderboard {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hui-Tabs_content {
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.hui-LeaderboardRow__charityName {
  font-size: 11px;
}
